<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Tether uses the local network to discover and connect to nearby devices for file transfer.</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_tether._tcp.</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.tubetoast.tether</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tether</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
	</array>
</dict>
</plist>
